@import "tailwindcss";

/* @plugin "tailwindcss-animate";  */

@theme {
  /* Link the font variable from Next.js */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  /* Define Primary Brand Colors (Indigo) */
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5; /* Main Brand */
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #312e81;

  /* Define Action/Success Colors (Emerald) */
  --color-secondary-500: #10b981;
  --color-secondary-600: #059669; /* Button Hover */
  --color-secondary-700: #047857;

  /* Define Background Colors (Slate overrides) */
  --color-slate-50: #f8fafc;
  --color-slate-900: #0f172a;
}

/*
   Utility Layer
   Custom utilities go here standard CSS
*/
@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/* Base Layer defaults */
@layer base {
  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
    font-family: var(--font-sans);
  }
}
